            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="site-title-wrapper">
                    <a class="button-square button-jump-top js-jump-top" href="#" aria-label="Back to Top">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </a>
                    {{ with .Site.Params.twitter }}
                        <a class="button-square button-social hint--top" data-hint="Twitter" aria-label="Twitter" href="{{ . }}" rel="me" >
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    {{ end }}
                    {{ with .Site.Params.github }}
                        <a class="button-square button-social hint--top" data-hint="Github" aria-label="Github" href="{{ . }}" rel="me">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </a>
                    {{ end }}
                    {{ with .Site.Params.linkedin }}
                        <a class="button-square button-social hint--top" data-hint="LinkedIn" aria-label="LinkedIn" href="{{ . }}" rel="me">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    {{ end }}
                    {{ with .Site.Params.email }}
                        <a class="button-square button-social hint--top" data-hint="Email" aria-label="Send an Email" href="mailto:{{ . }}">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    {{ end }}
                </div>
            </div>
        </footer>

        <script src="{{ .Site.BaseURL }}js/jquery-1.11.3.min.js"></script>
        <script src="{{ .Site.BaseURL }}js/jquery.fitvids.js"></script>
        <script src="{{ .Site.BaseURL }}js/scripts.js"></script>
    </body>
</html>
